[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DSkyline
[access "refs/for/refs/*"]
	read = group user/DSkyline
	push = group user/DSkyline
	label-Code-Review = -2..+2 group user/DSkyline
	label-Verified = -1..+1 group user/DSkyline
	rebase = group user/DSkyline
	removeReviewer = group user/DSkyline
	submit = group user/DSkyline
[access "refs/heads/*"]
	read = group user/DSkyline
	create = group user/DSkyline
	push = +force group user/DSkyline
	pushMerge = group user/DSkyline
[access "refs/tags/*"]
	push = group user/DSkyline
	push = +force group user/DSkyline
